.contacts__button {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: "Open Sans" sans-serif;
  background-color: rgba(0, 0, 0, 0.4);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.container {
  max-width: 480px;
  padding: 0 31px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}
@media screen and (min-width: 1230px) {
  .container {
    max-width: 1230px;
    padding: 0 40px;
  }
}

.header {
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.header__menu.is-open {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.header__close {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__close {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .flex-container.is-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
  .flex-container.is-open .header__menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
  }
}
@media screen and (min-width: 1230px) {
  .flex-container {
    width: 100%;
  }
}

@media screen and (min-width: 372px) {
  .nav {
    padding: 48px 31px 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    transform: translateX(110%);
    transition: transform 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #ffffff;
    padding: 15px 17px 0 17px;
    overflow-y: scroll;
  }
  .flex-container.is-open .nav {
    transform: translateX(0);
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    width: 100%;
  }
}

.nav__list {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    margin-right: 37px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1230px) {
  .nav__list {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.nav__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .nav__item:not(:last-child) {
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.nav__link {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6666666667;
  letter-spacing: 0.1em;
  color: #303030;
  transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #ff6c00;
}
@media screen and (min-width: 372px) {
  .nav__link {
    font-size: 18px;
    line-height: 1.3888888889;
  }
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333333333;
    letter-spacing: 0.1em;
    padding: 20px 0;
    color: #ffffff;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contacts {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1230px) {
  .contacts {
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }
}

.contacts__tel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5625;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
  margin-bottom: 24px;
}
@media screen and (min-width: 372px) {
  .contacts__tel {
    font-size: 18px;
    line-height: 1.3888888889;
  }
}
@media screen and (min-width: 768px) and (max-width: 1229px) {
  .contacts__tel {
    display: none;
  }
}
@media screen and (min-width: 1230px) {
  .contacts__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.3333333333;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 20px 0;
    margin-right: 45px;
    margin-bottom: 0;
    color: #ffffff;
    transition: color 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .contacts__tel:hover, .contacts__tel:focus {
    color: #ff6c00;
  }
}

.contacts__button {
  height: 40px;
  transition: background-color 500ms, color 500ms;
}
.contacts__button:hover, .contacts__button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}
@media screen and (min-width: 372px) {
  .contacts__button {
    width: 194px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__button {
    width: 160px;
  }
}

.social-list {
  display: inline-block;
  margin-left: 100px;
}
@media screen and (min-width: 768px) {
  .social-list--none {
    display: none;
  }
}

.social-list__item {
  position: relative;
}
.social-list__item:first-child {
  margin-bottom: 24px;
}
.social-list__item:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.social-list__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.5833333333;
  letter-spacing: 0.2em;
  color: #303030;
}
.social-list__link:hover, .social-list__link:focus {
  color: #ff6c00;
}
@media screen and (min-width: 372px) {
  .social-list__link {
    font-size: 14px;
    line-height: 1.3571428571;
  }
}/*# sourceMappingURL=styles.css.map */