.header {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: 200;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 40px;
}
.header__logo {
}
.logo--white {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.logo--black {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}
.header__menu {
    &.is-open {
        display: none;
    }
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 46px;
        right: 9%;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.header__close {
    margin-left: auto;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
