.social-list {
    display: inline-block;
    margin-left: 100px;

    &--none {
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
.social-list__item {
    position: relative;

    &:first-child {
        margin-bottom: 24px;
    }
    &:first-child::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -100%;
        width: 60px;
        height: 1px;
        background-color: $main-color;
    }
}
.social-list__link {
    font-weight: 600;
    font-size: 12px;
    line-height: calc(19 / 12);

    letter-spacing: 0.2em;

    color: $main-color;

    &:hover,
    &:focus {
        color: $active-color;
    }

    @media screen and (min-width: 372px) {
        font-size: 14px;
        line-height: calc(19 / 14);
    }
}
