.prices {
    background-color: $dark-bg-color;

    background-image: url("../images/prices/prices480.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-devise-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../images/prices/prices960.png");
    }

    @media screen and (min-devise-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url("../images/prices/prices1440.png");
    }
}
.prices__upper-title {
    @include upper-title($uppertitle-color-06);

    @extend %upper-before;

    @media screen and (max-width: 415px) {
        font-size: 9px;
    }
}
.prices__title {
    @include main-title(42px, 49px, 44px, $white-color);
}
