.about {
}
.about__upper-title {
    @include upper-title($main-color);

    @extend %upper-before;
}
.about__title {
    @include main-title(28px, 33px, 20px, $main-color);
}
.about__lower-title {
    @include lower-title(20px, $secondary-color);
}

.about__text {
    font-size: 14px;
    line-height: calc(26 / 14);

    letter-spacing: 0.02em;

    margin-bottom: 40px;

    color: $secondary-color;
}
.about__button {
    @include main-button(160px, $main-color);

    &:hover,
    &:focus {
        background-color: $active-color;
        color: $white-color;
    }
}
