.hero {
    background-image: url("../images/bg-hero480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-devise-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url("../images/bg-hero960.jpg");
    }

    @media screen and (min-devise-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url("../images/bg-hero1440.jpg");
    }
}
.hero-container {
    max-width: 336px;
    padding: 208px 0;
}
.hero__upper-title {
    @include upper-title($price-color);

    @extend %upper-before;
}
.hero__title {
    @include main-title(41px, 56px, 20px, $white-color);

    @media screen and (min-width: 380px) {
        font-size: 48px;
    }
}
.hero__lower-title {
    @include lower-title(0, $price-color);
}
