// COLORS
$main-color: #303030;
$secondary-color: #555555;
$white-color: #ffffff;
$uppertitle-color-06: rgba(157, 164, 189, 0.6);
$lowertitle-color: rgba(157, 164, 189, 0.6);
$active-color: #ff6c00;
$price-color: #9da4bd;

// FONTS
$main-font: "Open Sans" sans-serif;
$secondary-font: "Raleway" sans-serif;
